@charset "utf-8";
/* CSS Document */
.tableIcon{
width:18px; height:18px;}
.overFlowH{
overflow:hidden;}
.tAC{
text-align:center;}
.W100XHYA{
width:100%; overflow-x:hidden; overflow-y:auto;}
.W1H1OFH{
width:100%; height:100%; overflow:hidden;}
.W160{
width:160px; overflow:hidden;}
.W85{
width:90px; overflow:hidden;}
.W75{
width:75px; overflow:hidden;}
.W70{
width:70px; overflow:hidden;}
.W60{
width:56px; overflow:hidden;}
.W50{
width:50px; margin-left:auto; margin-right:auto;}
.W35{
width:35px; overflow:hidden;}
.LH25{
line-height:25px;}
.FLMR8{
float:left; margin-right:8px;}
.FLML8{
float:left; margin-left:4px;}
.ML5{
margin-left:5px;}
.H21{
height:21px; overflow:hidden;}
.W200H22{
width:190px; height:21px; line-height:22px; overflow:hidden;}
.W60H22{
width:60px; height:21px; line-height:22px; overflow:hidden;}
.MarL15{
margin-left:15px;}
.W50OFH{
width:40%; overflow:hidden;}
.H25BrdBtm{
height:25px; line-height:25px;}

.cadTit{
width:260px; height:32px; overflow:hidden;}
.cadCont{
width:258px; height:auto; background-color:#FFFFFF; overflow:hidden;}
.ymNaviss{
width:256px; height:20px; line-height:20px; margin-top:1px; margin-left:auto; margin-right:auto; overflow:hidden;}
.ymNavis{
width:160px; line-height:20px; margin-left:auto; margin-right:auto; overflow:hidden;}
.ymNavis SPAN{
float:left; margin-left:3px; margin-right:3px; width:70px; text-align:center;}
.ymNaviBtn{
height:15px; width:15px; margin-top:2px; float:left; margin-left:3px; margin-right:3px; overflow:hidden;}

.cadTable{
margin-bottom:1px; background-color:#FFFFFF; text-align:center;}
.red{
color:#FF0000;}
.cadTable thead{
height:20px; overflow:hidden;}
.cadTable tbody tr{
height:18px;}
.cadTable tbody td A{
width:100%; height:100%; float:left;}
.cadTable tbody td A:hover{
background-color:#fdfdcf;}
